name: "build"

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  builds:
    runs-on: ubuntu-latest
    name: alpine-build
    container:
      image: alpine:latest
    steps:
      - uses: actions/checkout@v5
      - name: "deps"
        run: apk add make minify
      - name: "build"
        run: cd plugins/hphp && make
