name: "build"

permissions:
  contents: write

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  builds:
    runs-on: ubuntu-latest
    name: alpine-build
    container:
      image: alpine:latest
    steps:
      - uses: actions/checkout@v5
      - name: "deps"
        run: apk add make minify zip
      - name: "build"
        run: cd plugins/hphp && make CI=1
      - name: release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: plugins/**/target/*.zip
